:root {
    --blue: #3b82d5;
    --pink: #ac53f1;
    --white: #fafffd;
    --platinum: #dee5e5;
    --black: #12130f;
}

#cards {
    margin: 0;
    padding: 0;
    justify-content: center;
}

#cards .container {
    max-width: 100vw;
    margin: 0 auto;
}

#cards .container .card {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 320px;
    height: 400px;

    vertical-align: middle;
    margin: 0 auto;
    margin-bottom: 20px !important;
    background: rgb(17, 19, 14);

    box-shadow: 0 15px 60px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--platinum);
    -webkit-transition: all 0.6s cubic-bezier(.5, .24, 0, 1);
    -moz-transition: all 0.6s cubic-bezier(.5, .24, 0, 1);
    -o-transition: all 0.6s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.6s cubic-bezier(.5, .24, 0, 1);
}

#cards .container .card::before {
    content: '';
    position: absolute;
    left: -2px;
    bottom: -2px;
    z-index: 1;
    width: 0%;
    height: 2px;

    background: linear-gradient(to right, var(--pink), var(--blue)) !important;
    display: block;
    -webkit-transition: all 0.6s cubic-bezier(.5, .24, 0, 1);
    -moz-transition: all 0.6s cubic-bezier(.5, .24, 0, 1);
    -o-transition: all 0.6s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.6s cubic-bezier(.5, .24, 0, 1)
}

#cards .container .card:hover::before {
    width: 320px;
}

#cards .container .card::after {
    content: '';
    position: absolute;
    right: -2px;
    top: -2px;
    z-index: 1;
    width: 0%;
    height: 2px;

    background: linear-gradient(to right, var(--pink), var(--blue)) !important;
    -webkit-transition: all 0.6s cubic-bezier(.5, .24, 0, 1);
    -moz-transition: all 0.6s cubic-bezier(.5, .24, 0, 1);
    -o-transition: all 0.6s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.6s cubic-bezier(.5, .24, 0, 1)
}

#cards .container .card:hover::after {
    width: 320px;
}

#cards .container .card:hover {
    border-left: 2px solid var(--pink);
    border-right: 2px solid var(--blue);
}

.design-gradient {
    font-weight: 500;
}



#cards .container .two {
    height: 460px;
}

#cards .container .three {
    height: 600px;
}

#cards .container .four {
    height: 450px;
}

#cards .container .six {
    height: 380px;
}

#cards .container .seven {
    height: 425px;
}

#cards .container .eight {
    height: 345px;
}

#cards .container .nine {
    height: 490px;
}

#cards .container .ten {
    height: 390px;
}

#cards .container .eleven {
    height: 550px;
}

#cards .container .twelve {
    height: 460px;
}



#cards .container .card .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cards .container .card .face.face1 {
    box-sizing: border-box;
    padding: 20px;
}

#cards .container .card .face.face1 p {
    padding-bottom: 2rem;
}

#cards .container .card .face.face1 h2 {
    margin: 0;
    padding: 0;
}


#cards .container .card .face.face2 {
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
}

#cards .container .card .face.face2 img {
    margin: 0;
    padding: 0;
    height: 4rem;
    width: auto;
    color: var(--white);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

#cards .container .card:hover .face.face2 {
    height: 60px;
}

#cards .container .card:hover .face.face2 img {
    height: 2rem;
    width: auto;
}

#cards .container .card .face.face2 {
    display: flex;
    flex-direction: column;
}

#cards .container .card:hover .face.face2 p.detail {
    display: none;
}

#cards .container .card .face.face2 {
    background: #303030;

}

#cards .container .card:nth-child(1) .face.face2 {
    background: #303030;

}

#cards .container .card:nth-child(2) .face.face2 {
    background: #303030;

}

#cards .container .card:nth-child(3) .face.face2 {
    background: #303030;

}