.content {
    top: 60vh !important;
}

.logo {
    padding: 2rem;
}

.logo img {
    position: fixed;
    height: 4rem;
    width: auto;
    z-index: 4;
}


.button-gradient {
    font-size: calc(0.5vw + 2rem);
    font-weight: bold;
    padding: 2rem 4rem;
    pointer-events: none;
}

h3.subtagline {
    font-weight: 300;
}