@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

:root {
    --blue: #3b82d5;
    --pink: #ac53f1;
    --white: #fafffd;
    --platinum: #dee5e5;
    --black: #12130f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

html,
.body {
    overflow-x: hidden !important;
    position: relative;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}



.skewEm {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

body {
    position: relative;
    background-color: var(--black);
    cursor: url(/images/Cursor.png), pointer;
}



h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    text-align: left;
    color: var(--white);
    line-height: 1.2;
    font-size: calc(12px + 2vw);

}

h2.big {
    font-family: "Della Respira", serif;
    position: absolute;
    top: -35%;
    white-space: nowrap;
    font-size: 288px;
    text-transform: capitalize;
    color: var(--platinum);
    opacity: 10%;
    pointer-events: none;
}

h3.subtagline {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 600;
    color: var(--white);
    font-size: calc(12px + 1vw);
    text-transform: capitalize;
}

p,
span.hide-on-phone {
    color: #fafffd;
    font-family: "Merriweather Sans", sans-serif;
    line-height: 2;
    font-weight: 200;
}

#menu {
    background: rgba(20, 20, 20, 0.9);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    height: 100%;
    left: 0;
    opacity: 50%;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 3;
}

#menu.open {
    opacity: 1;
    visibility: visible;
}

#menu.open li:nth-child(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#menu.open li:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#menu.open li:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#menu.open li:nth-child(4) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#menu.open li:nth-child(5) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#menu.open li:nth-child(6) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

#menu.open li:nth-child(7) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

#menu.open li:nth-child(8) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

#menu.open li:nth-child(9) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

#menu.open li:nth-child(10) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#menu.open li {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

#menu ul:hover a {
    opacity: 0.5;
}

#menu ul a {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#menu ul a:hover {
    opacity: 1;
}

#menu .main-nav {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#menu .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu .main-nav a {
    color: var(--platinum);
    display: block;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

#menu .main-nav a:first {
    padding-top: 0;
}

#menu .menu-footer {
    padding: 2rem;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

#menu .menu-footer ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu .menu-footer ul li {
    display: inline;
    margin: 0 1rem;
}

#menu .menu-footer a {
    color: var(--platinum);
    text-decoration: none;
    text-transform: uppercase;
}

.toggle-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    right: 0;
    height: 100px;
    outline: none;
    padding: 0;
    margin: 20px;
    pointer-events: initial;
    position: fixed;
    vertical-align: middle;
    width: 100px;
    z-index: 4;
}

.ham {
    cursor: pointer;
    width: 70px;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background-color: rgba(13, 24, 33, 0.6);
    border-radius: 50%;
}

.hamRotate.active {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamRotate180.active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.line {
    fill: none;
    -webkit-transition: stroke-dasharray 1s ease, stroke-dashoffset 1s ease;
    -moz-transition: stroke-dasharray 1s ease, stroke-dashoffset 1s ease;
    -o-transition: stroke-dasharray 1s ease, stroke-dashoffset 1s ease;
    transition: stroke-dasharray 1s ease, stroke-dashoffset 1s ease;
    stroke: var(--platinum);
    stroke-width: 4;
    stroke-linecap: round;
}

.ham .top {
    stroke-dasharray: 20 160;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.ham .middle {
    transform-origin: 50%;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
}

.ham .bottom {
    stroke-dasharray: 20 85;
    transform-origin: 50%;
    -webkit-transition: transform 1s ease, stroke-dashoffset 1s ease;
    -moz-transition: transform 1s ease, stroke-dashoffset 1s ease;
    -o-transition: transform 1s ease, stroke-dashoffset 1s ease;
    transition: transform 1s ease, stroke-dashoffset 1s ease;
}

.ham.active .top {
    stroke-dashoffset: -64px;
}

.ham.active .middle {
    stroke-dashoffset: -20px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ham.active .bottom {
    stroke-dashoffset: -64px;
}

.ham:hover .top {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
}

.ham:hover .bottom {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
}

.ham.active {
    background-image: linear-gradient(to right, var(--pink), var(--blue)) !important;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    z-index: 4;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(1) {
    color: var(--pink);
    opacity: 50%;
    top: 40%;
    left: 66%;
    animation-duration: 25s;
    animation-delay: -4.2s;
    transform-origin: -9vw 15vh;
    box-shadow: 40vmin 0 13vmin var(--pink);
    filter: blur(4em);
    -webkit-filter: blur(4em);
    -moz-filter: blur(4em);
    -o-filter: blur(4em);

}

.background span:nth-child(2) {
    color: var(--blue);
    opacity: 50%;
    top: 28%;
    left: 14%;
    animation-duration: 20s;
    animation-delay: -11s;
    transform-origin: -4vw 11vh;
    box-shadow: 40vmin 0 7vmin var(--blue);
    filter: blur(4em);
    -webkit-filter: blur(4em);
    -moz-filter: blur(4em);
    -o-filter: blur(4em);
}


@keyframes move {
    100% {
        -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
        -moz-transform: translate3d(0, 0, 1px) rotate(360deg);
        -o-transform: translate3d(0, 0, 1px) rotate(360deg);
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

section {
    min-height: 100vh;
    width: 100vw;
}

#home {
    height: 100vh;
    width: 100vw;
    display: flex;
}

button {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    font-size: calc(0.5vw + 1.2rem);
    outline: none;
    border: none;
    text-transform: capitalize;
    margin-top: 10px;
    white-space: nowrap;
}

#home .left {
    z-index: 2;
    pointer-events: none;
}

.left {
    float: left;
    vertical-align: middle;
    margin: auto;
    padding-left: 10%;
}

.left img {
    width: 80%;
}

.left h1 {
    font-size: 3.4vw;
    padding-bottom: 0.5rem;
    text-transform: none;
    font-weight: 200;
}

.right {
    float: right;
    width: 40vw;
}

.absolute {
    position: absolute;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    opacity: 10%;
    z-index: 2;
    right: 0;
    top: 50vh;
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    overflow: hidden !important;
}

.coral-container,
canvas {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.coral-container {
    width: 600px;
    height: 600px;
    text-align: center;
    background: transparent;
    background-size: cover;
    background-blend-mode: hard-light;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 50vh;
    left: calc(80vw - 100px);
    transform: translate(-50%, -50%);
    z-index: 0;
}

.cssanimation,
.cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span {
    display: inline-block
}

.leFlyInBottom span {
    animation-name: leFlyInBottom
}

@keyframes leFlyInBottom {
    0% {
        -webkit-transform: translate(0px, 80px);
        -moz-transform: translate(0px, 80px);
        -o-transform: translate(0px, 80px);
        transform: translate(0px, 80px);
        opacity: 0
    }

    50% {
        -webkit-transform: translate(10px, -50px);
        -moz-transform: translate(10px, -50px);
        -o-transform: translate(10px, -50px);
        transform: translate(10px, -50px);
        animation-timing-function: ease-in-out
    }
}

.content {
    color: #ac53f1;
    text-align: center;
    line-height: 1.5;
    font-size: 12vmin;
    width: 80vw;
    margin: 0 10vw;
    /* background: -webkit-linear-gradient(#ac53f1, #3b82d5, #ac53f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed; */
    position: absolute;
    top: 150vh;
    -webkit-transform: translateY(-100%) translate3d(0, 0, 0);
    ;
    -moz-transform: translateY(-100%) translate3d(0, 0, 0);
    ;
    -o-transform: translateY(-100%) translate3d(0, 0, 0);
    ;
    transform: translateY(-100%) translate3d(0, 0, 0);
    ;
}

/* .background-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300px;
    letter-spacing: 20px;
} */

.background-text {
    text-transform: uppercase;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../images/gradient.jpg");
    background-size: 150%;
    -webkit-animation: bg-animation 30s cubic-bezier(0.3, 0, 0.7, 1) infinite;
    -moz-animation: bg-animation 30s cubic-bezier(0.3, 0, 0.7, 1) infinite;
    -o-animation: bg-animation 30s cubic-bezier(0.3, 0, 0.7, 1) infinite;
    animation: bg-animation 30s cubic-bezier(0.3, 0, 0.7, 1) infinite;
    background-blend-mode: overlay, multiply, color, overlay;
    image-rendering: optimizeQuality;
    opacity: calc(1.5 - var(--from-center));
    filter: brightness(200%);

}

@keyframes bg-animation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

#about,
#services,
#industries,
#products,
#proficiencies,
#careers,
#contact {
    position: relative;
}

#about h1,
#services h1,
#industries h1,
#industries h3,
#products h1,
#proficiencies h1,
#careers h1,
#contact h1 {
    width: 60vw;
    margin: 0 auto;
    padding-bottom: 3rem;
}

#industries h3 {
    padding-bottom: 1rem;
    line-height: 1.6;
}

.article-container {
    display: flex;
    width: 60vw;
    margin: auto;
}

.right-article {
    padding-left: 2em;
}

.left-article {
    padding-right: 2em;
}

.space {
    display: block;
    margin: 1rem;
}

#services .left-article button,
#industries .left-article button,
#products .left-article button,
#careers .left-article button,
#contact .left-article button {
    display: block;
    margin: 1.2rem;
}

.left-article a {
    text-decoration: none;
}

.design-gradient {
    display: block;
    color: transparent;
    background: -webkit-linear-gradient(to right, var(--pink) 0%, var(--blue) 25%, var(--pink) 50%, var(--blue) 75%, var(--pink) 100%);
    background: linear-gradient(to right, var(--pink) 0%, var(--blue) 25%, var(--pink) 50%, var(--blue) 75%, var(--pink) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

.design-gradient span {
    margin-left: 0;
    margin-right: 2px;
}

.design-gradient:hover span {
    margin-left: 2px;
    margin-right: 0;
    cursor: pointer;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.design-gradient:hover {
    animation: gradientMove 0.8s ease-in-out 2;
    -moz-animation: gradientMove 0.8s ease-in-out 2;
    -webkit-animation: gradientMove 0.8s ease-in-out 2;
    -o-animation: gradientMove 0.8s ease-in-out 2;
    cursor: pointer;
}


@keyframes gradientMove {
    0% {
        background-position: left
    }

    100% {
        background-position: right
    }
}

.rev {
    direction: rtl;
    left: -1000%
}

.map-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.map {
    height: 0;
    overflow: hidden;
    padding-bottom: 35rem;
    margin-top: 30px;
    position: relative;
    border-radius: 30px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: -webkit-radial-gradient(white, black);
    /* fixes safari bug */

}

.footer {
    padding: 30px 0px;
    font-family: "Merriweather Sans", sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: var(--platinum);
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: var(--platinum);
    transition: 0.5s;
}

.footer .row a:hover {
    color: var(--white);
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}



@media screen and (orientation:portrait) {

    /* tablet */
    .article-container {
        flex-direction: column;
    }

    .right-article {
        padding-left: 0;
        padding-top: 1rem;
    }
}

@media screen and (orientation:portrait) and (max-width:760px) {
    .coral-container {
        width: 400px;
        height: 400px;
    }

    #home .left {
        margin-top: 30vh;
    }

    #home .right .coral-container {
        top: 70vh;
        left: 50vw;
    }

    /* mobile */
    .hide-on-phone {
        display: none;
    }

    .map {
        padding-bottom: 100%;
    }

    .ham {
        width: 50px;
    }

    .toggle-menu {
        margin: 5px 0;
    }



    #about h1,
    #services h1,
    #industries h1,
    #industries h3,
    #products h1,
    #proficiencies h1,
    #careers h1,
    #contact h1 {
        width: 80vw;
        margin: 0 auto;
        padding-bottom: 1.5rem;
        align-items: center;
        text-align: left;
    }

    #industries h3 {
        padding-bottom: 0.5rem;
    }

    .article-container {
        display: flex;
        width: 80vw;
        margin: auto;
        text-align: left;
    }

    .left-article {
        padding-right: 0;
    }

    .footer {
        text-align: left;
        padding: 10%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}